@font-face {
  font-family: 'Alef';
  src: url('../fonts/Alef-Bold.eot');
  src: url('../fonts/Alef-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Alef-Bold.woff') format('woff'), url('../fonts/Alef-Bold.ttf') format('truetype'), url('../fonts/Alef-Bold.svg#Alef-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Alef';
  src: url('../fonts/Alef-Regular.eot');
  src: url('../fonts/Alef-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Alef-Regular.woff') format('woff'), url('../fonts/Alef-Regular.ttf') format('truetype'), url('../fonts/Alef-Regular.svg#alefregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body.ui-mobile-viewport, div.ui-mobile-viewport{
  font-family: 'Alef';
}

#wrapper{
	margin: 0 auto;
	  width: 90%;
}
form{
	margin: 40px 10% 0 0;
}
form > button{
    background: #38c !important;
  border: none !important;
}
input{
    text-align: -webkit-right !important;
}
label{
  font-size: 20px !important;
}
li{
	 list-style-type: none;
 	 margin: 20px 0 0 0;
  	 font-family: Arial;
	 font-size: 18px;
}


#homePage{
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Alef';
  font-weight: 400;
}


.selectedLi{
	font-size:18px;
  background: #1B936E !important;
  color:#ffffff !important;
}
.selectedLi > a {
  background-color: transparent !important;
  color: #ffffff !important;
}
h1{
  margin: 10px 10px 20px 20px !important;
  position: relative;
  float: right;
  padding: 0 0 0 0 !important;
  font-size: 64px;
}
h1 > a:hover{
	text-decoration: none;
}
.ui-btn-active{
background-color: #1B936E !important;
}
.ui-btn-active:focus{
background-color: #1B936E !important;
}
.ui-btn-active:hover{
background-color: #1B936E !important;
}
#chars{
    position: relative;
  top: 10px;
    font-family: Alef;
}
#addTripSec{
	direction: rtl;
}
#showTripsSec{
	direction: rtl;
}
.listResultTrip{
  display: block;
}
#resultTrip{
text-align: -webkit-right;
  position: relative;
  left: 20px;
  float: right;
}

#filtermenu > li{
  float: right;
}

.displayTrip > li{
	  font-size: 16px;
  border: 1px solid grey;
  color: #494949;
  padding: 10px 10px 10px 0;
    font-family: 'Alef';
  font-weight: 400;
    width: 47%;
  float: right;
  margin: 8px 8px 8px 8px;
}

.addToSchedule{
  background-image: url("images/mySchedule.jpg"); 
  background-size: 30%,30%;
  height: 750px;
  background-repeat: no-repeat;
  padding-left: 5%;
  float: right;
}
.titelName{
	display: -webkit-box;
  font-weight: 600;
    font-size: 36px;
    padding: 0 6px 0 0;
}
.titelNameFavorite{
    display: -webkit-box;
  font-weight: 600;
    font-size: 36px;
    padding: 0 6px 0 0;
}
.titelNameAccount{
      display: -webkit-box;
  font-weight: 600;
    font-size: 64px;
    padding: 0 6px 0 0;
    float: right;
   width: 75%;
   z-index: 99;
}
.remove_track{
  display: none;
  color:#ff5555;
}
#submitForm{
  color: #ffffff;
  background-color: #22AF87 !important;
  padding: 5px 10px 5px 10px;
  margin: 10px 0px 10px 0;
  font-size: 17px;
  font-weight: 700;
}
#friendsemail> div> button{
  background: #22AF87;
  color: #ffffff;
  margin: 0px 5px 0 10px;
  float: right;
}
#friendsemail> div{
  float: right;
}
.col-xs-6{
  width: auto;
}
.locH5{
  padding: 0 0 0 5px;
  font-size: 28px;
  margin: 5px 0 5px 10px;
  position: relative;
  right: 5px;
}
.userDetailes{
  float: left;
  position: absolute;
  left: 7%;
  top: 120px;
}
.imgUser{
    border-radius: 50px;
  width: 80px;  
}
.nameUser{
    font-size: 18px;
  font-weight: 600;
  padding: 0 12px 0 10px;
}
#resultTitle{
  font-size: 64px;
  font-family: Alef;
  font-weight: 700;
  display: inline;
  float: right;
}
#resultTitleFavorite{
  float: right;
  margin: 10px 25px 15px 0 !important;
  font-size: 64px;
  font-family: Alef;
  font-weight: 600;
  display: block;
}
#userName{
    float: right;
  margin: 10px 25px 15px 0 !important;
  font-size: 64px;
  font-family: Alef;
  font-weight: 600;
}
#myChoose{
	text-align: -webkit-right;
	 margin: 0 20px 0 0px;
}
h3{
color: #337ab7;
  position: relative;
}
fieldset > div{
    float: right !important;
  margin: 0 0 20px 0 !important;
  width: 100% !important;
}
.ui-radio{
  float: right !important;
}

.hidden {
  display: none;
  opacity: 0;
}
#map-canvas {
  width: 500px;
  height: 400px;
  background-color: #CCC;
}
 #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }

/*********home page********/

#logo{
    width: 100%;
  height: 100%;
  position: relative;
  float: right;
  margin: 10px 0px 0px 0;
  padding: 0 10px 0 0;
}
header{
  background-color: #22AF87 !important;
  border:none !important;
}
header > a {
    float: right;
  position: relative !important;
    border: none !important;
  box-shadow: none !important;
  top: 0 !important;
  background-color: #22AF87 !important;
    margin: 0 10px 0 5px !important;
}
header > a :hover{
  background-color: #1B936E !important;
}
.nav{
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: relative;
  float: right;
  width: 80%;
  background-color: #22AF87 !important;
}
.nav > li{
  text-align: center;
  width: 19.5%;
    padding: 0 10px 0 10px;
  float: right;
  color: #ffffff;
  margin: 0 0 0 0 ;
}
.nav > li >a {
  color: #ffffff !important;
    margin: 0;
}
.nav > li >a :hover{
    color: #EED53D !important;
    background-color: #1B936E !important;
}
.nav > li :hover{
  background-color: #1B936E !important;
  color: #EED53D !important;
}
.nav > li > a > span{
    max-width: none;
  display: block;
  position: relative;
  margin: 0 auto;
  font-family: 'Alef';
  font-weight: 400;
}

body, input, select, textarea, button, .ui-btn{
  font-family: 'Alef';
  font-weight: 400;
}
.nav > li > a > span:hover{
  background-color: #1B936E !important;
  color: #EED53D !important;
}
.nav > li > a > img{
    max-width: none;
  display: block;
  position: relative;
  margin: 0 auto;
}
#homePage {
  background-image: url("images/bg_image.png");
  background-size: 100%,100%;
  background-repeat: no-repeat;
    padding-top: 200px !important;
}
#homePage > #content {
  overflow: hidden !important;
}
#content{
  padding: 25px !important;
}
#groupButton{
  text-align: center;
  width: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2px 5px 35px 5px;
  background-image: url("images/bg_groupButton.png");
  top: 20px;
}
.continue{
  border: 1px solid #ffffff;
  direction: rtl;
  width: inherit;
  padding: 5px 0px 5px 0px;
  color: #ffffff;
  font-size: 20px;
  display: block;
  /*height: 40px;*/
    margin: 15px 16px 0px 16px !important
}
.btnChar {
  color: #ffffff !important;
  background-color: transparent ;
  margin: 15px 16px 10px 16px !important;
  height: 48px;
  font-size: 20px;
  border: 1px solid #ffffff;
  font-weight: 100;
  padding: 0px 10px 0px 9px;
  width: auto !important;
    display: inline !important;
}
#groupButton > h2{
  color: #ffffff;
  direction: rtl;
  text-align: right;
  margin: 0px 0 0 0;
  position: relative;
  padding: 20px 40px 0 0;
}
/*.filter {
    width: 80%;
}
.selectBox {
    position: relative;
}
.selectBox select {
    width: 100%;
    font-weight: bold;
}*/
/*.overSelect {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
}*/
/*#who_are_you_going_with {
    display: none;
    border: 1px #dadada solid;
}
#who_are_you_going_with label {
    display: block;
}
#who_are_you_going_with label:hover {
    background-color: #1e90ff;
}

#trip_kind {
    display: none;
    border: 1px #dadada solid;
}
#trip_kind label {
    display: block;
}
#trip_kind label:hover {
    background-color: #1e90ff;
}

#difficultyselect {
    display: none;
    border: 1px #dadada solid;
}
#difficultyselect label {
    display: block;
}
#difficultyselect label:hover {
    background-color: #1e90ff;
}*/

/*******trip page********/
.Trip{
  direction: rtl;
    padding: 0 5% 0 0px;
}
.Trip > h2{
    width: 42%;
  float: right;
  font-family: 'Alef';
  font-weight: 700;
}
.Trip > h1{
    width: 42%;
  float: right;
  font-family: 'Alef';
  font-weight: 700;
  font-size: 64px;
}
.Trip >ul{
  height: 100px;
  position: relative;
  float: right;
  left: 20px;
}
.Trip > ul >li{
  float: right;
  border: 1px solid grey;
  margin: 22px 10px 11px 10px;
  padding: 3px 5px 3px 5px;
  font-family: 'Alef';
}
.Trip >article{
    float: right;
  width: 48%;
  /* display: -webkit-inline-box; */
  position: relative;
  /*height: 200px;*/
    margin: 0px 0 10px 0;

}
.topImg{
    float: left;
  position: relative;
    margin: 5px 5px 0px 5px;
}
.countLike{
    float: left;
  position: relative;
    margin: 7px 10px 0px 5px;
      font-size: 40px;
}
#favorite{
  float: left;
  position: relative;
}
#updateSchedule{
  float: left;
  position: relative;
}
#removeFromSchedule{
  float: left;
  position: relative; 
}
#tripImg{
  width: 45%;
  float: right;
  height: 250px;
  position: relative;
  /* left: 50%; */
   margin: 10px 0px 0px 30px;
  /*background-image: url("http://res.cloudinary.com/dxgyixsmg/image/upload/v1432156445/qvxrjquqlrgrsjxxj5qe.jpg");*/
  background-size: 100%;
  background-repeat: no-repeat;
}
/*#tripImg > img{
  position: relative;
  width: 100%;
}*/

.sitesUl{
    float: right;
  padding: 0 0 0 0;
}
.sitesUl>li{
    margin: 0 0px 0 6px !important;
}
.Trip>h3{
  float: right;
  font-size: 20px;
}
.Trip>article{
  font-size: 20px;
    float: right;
  direction: rtl;
  padding: 5px 6px 6px 5px;
  line-height: 25px;
  font-family: 'Alef';
    height: 210px;
  width: 48%;
  position: relative;
    margin: 0px 0 10px 0;
}
.asideFilter{
    height: 40px;
  float: right;
    height: 40px;
  float: right;
  background-color: #22AF87 !important;
  color: #ffffff;
  padding: 3px 6px 0 8px;
  font-size: 18px;
}
article> h4 {
    font-size: 30px;
  position: relative;
  /* float: right; */
  bottom: 17px;
}
.plus{
    border: none !important;
  margin: 20px 0 0 0 !important;
  padding: 5px 0 0 0 !important;
}
/*h4{
  font-family: 'Alef';
}*/
.topImgStar{
  float: left;
}
.topImgSchedule{
  float: left;
}
#RemoveFavPopup{
  float:right;
}
#addToFavPopup{
  float: right;
}
#friendsemail{
  height: 20px;
}

#mobile-indicator {
    display: none;
}
#nav-panel{
  display: none;
}

#menubtn{
  display: none;

}
#buttonRadius{
  display: none;
}
#uploadImgForm{
  display:none;
}


#timeline{
  width: 83%;
  height: 265px;
  overflow: hidden;
  margin: 107px auto;
  position: relative;
  background: url('images/dot2.gif') top 170px left 45px repeat-x;
  top: 67px;
    left: 45px;
}
#ulTimeLine{
  /*height: 114px;*/
  position: relative;
  top: 25px; 
  padding: 0 0 0 0;
  margin: 10px 0 0 0;
}
#ulTimeLine>li{
list-style: none;
  float: left;
  /*width: 106px;*/
  /* height: 50px; */
  font-size: 24px;
  text-align: center;
  margin: 10px 12px 0 15px;
  /*background: url('images/biggerdot2.png') center bottom no-repeat;*/
  position: relative;
  /* bottom: 20px*/
 top: 67px;
}
#ulTimeLine>li>span{
    font-size:20px;
    position: relative;
    
}
#ulTimeLine>li>img{
  display: block;
  text-align: center;
  position: relative;
  margin: 0 auto;
    border-radius: 50px;
}
#scheduleTimeLline{
  width: 83%;
  height: 300px;
  overflow: hidden;
  margin: 107px auto;
  position: relative;
  background: url('images/dot2.gif') top 205px left 45px repeat-x;
  top: 67px;
}
#ulTimeLineSchedule{
  /*height: 114px;*/
  position: relative;
    top: 60px;
  padding: 0 0 0 0;
  margin: 10px 0 0 0;
}
#ulTimeLineSchedule>li{
list-style: none;
  float: right;
  font-size: 24px;
  text-align: center;
  margin: 10px 12px 0 15px;
  position: relative;
 top: 67px;
}
#ulTimeLineSchedule>li>span{
    font-size:20px;
    position: relative;
    
}
#ulTimeLineSchedule>li>img{
  display: block;
  text-align: center;
  position: relative;
  margin: 0 auto;
    border-radius: 50px;
}
/*************  comment  **************/
#myImg{
    display: inline;
  float: right;
  border-radius: 50px;
  margin: 3px 10px 10px 15px;
}
#titleComment{
    color: #22AF87 !important;
  text-decoration: underline;
    height: 50px;
  line-height: 50px;
    font-size: 20px;
}
.commentList{
  position: relative;
  left: 33px;
}
.commentList > li{
width: 100%;
  float: right
}
.commentList > li > img {
  border-radius: 50px;
  position: relative;
  float: right;
}
.commentList > li > h5{
  float: right;
    font-size: 18px;
      padding: 5px 20px 0 0;
}
#submitComment{
  float: right;
  position: relative;
  background-color: #22AF87 !important;
  color: #ffffff;
  padding: 10px 15px 10px 15px;
  margin: 10px 0 5px 0;
  right: 244px;
}
.Trip > label{
float: right;
  width: 100%;
  margin: 10px 0 7px 0;
  padding: 0px 0 0px 0;
}
#comment{
  position: relative;
  margin: 5px 0 0 0;
    width: 224px;
  height: 98px;
    display: block;
}
.ulImages{
  position: relative;
  right: 200px;
  float: right;
}
.ulImages > li{
    float: inherit !important;
  border: none !important;
  margin: 45px 25px 0 25px !important;
}
.sitesTitle{
  width: auto;
  position: relative;
  float: right;
  top: 167px;
  margin: 0 auto;
  left: 444px;
}
#chat{
    position: relative;
  margin: 5px 0 0 0;
  width: 224px;
  height: 98px;
  display: block;
}
#chatComment{
  float: right;
  position: relative;
  background-color: #22AF87 !important;
  color: #ffffff;
  padding: 10px 15px 10px 15px;
  margin: 10px 0 5px 0;
  right: 244px;
}
/***** account page*************/
.details > img{
      position: relative;
  right: 50px;
}
.details{
    text-align: right;
  margin: 20px 0 20px 0;
}
.TripImg {
  display: inline;
  float: right;
  margin: 3px 10px 10px 15px;
    position: relative;
  height: auto;
}
.well{
  background: transparent !important;
  border: none !important;
  float: right;
}
#description{
  display: block;
}
.divShareSchedule{
    float: right;
  padding: 17px;
    right: 100px;
  position: relative;
}
.divShareSchedule > label{
    margin: 0 0 2px 0 !important;
}
#shareSchedule{
  width: 200px;
  height: 35px;
  position: relative;

}
#updateFriendsWithChanges{
  float: right;
  position: relative;
  top: 56px;
  width: 50px;
  height: 34px;
  color: #ffffff;
  border: none;
  background-color: #22AF87 !important;
  font-size: 16px;
  font-family: Alef;
  font-weight: 600;
  padding: 0 8px 0 0;
}
#addFriendToSchedule{
    float: right;
  position: relative;
  top: 56px;
  /* width: 50px; */
  height: 34px;
  color: #ffffff;
  border: none;
  background-color: #22AF87 !important;
  font-size: 16px;
  font-family: Alef;
  font-weight: 600;
  padding: 0 8px 0px 10px;
     right: 100px;
}
#friendsemail{
    float: right;
  display: block;
  width: 100%;
}
.locH5Schedule{
  padding: 0 0 0 5px;
  font-size: 28px;
  margin: 5px 0 5px 10px;
  position: relative;
  right: 10px;
  width: 100%;
    text-align: right
}
dt{
  font-weight: 100;
  font-size: 15px;
}
.viSchedule{
padding: 0 0px 0px 10px;
}
.smallULSchedule{
margin: 0 7px 0 0px;
  padding: 0 0 0 0;
  display: inline-block;
    float: right;
  text-align: right;
}
.smallULSchedule > li {

}
.vi{
padding: 0 0px 0px 10px;
}
.smallUL{
margin: 0 7px 0 0px;
  padding: 0 0 0 0;
  display: inline-block;
}
.smallUL > li {

}
.selectedChar{
background-color: #22AF87 !important;
color:#ffffff;
  border: none !important;
}
@media(max-width: 500px){
  #buttonRadius{
    display: block;
      color: #ffffff;
  background-color: #22AF87 !important;
  } 
  #selectArea{
    display: none;
  }
  #filter{
    display: none;
  }
  #dvMap{
    display: none;
  }
  #groupButton{
    width:auto;
  }
  #homePage{ 
      background: url('images/backgroundImage.jpg');
    background-size: 300%,100%;
    background-repeat: no-repeat;
    padding-top: 50px !important;
    background-position-x: -113px;
  }
  #headerlogo{
    float : left;
  }
  #menubtn{
    background-image: url('images/menu_button.png');
    /* max-width: none; */
    position: relative !important;
    display: block;
    background-size: 138%, 140% !important;
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 44px;
    width: 40px;
    margin-top: 50px;
    top: 22px !important;
    left: 11px;
  }
  #uploadImgForm{
    display:block;
  }
  #userName{
      font-size: 48px;
  }
  .displayTrip > li{
      width: 100%;
  margin: 10px 1px 10px 0;
  }
  .displayTrip{

  }
  #resultTitleFavorite{
      font-size: 48px;
  }
  #us6-dialog{
      position: relative;
  width: 100%;
  }
  #resultTitle{
    font-size: 48px;
  }
  .form-horizontal{
    width: auto !important;
  }
  .Trip > h1{
      font-size: 48px;
  width: 100%;
    position: relative;
  left: 25px;

  }
  .Trip > ul {
      padding: 0 5px 0 0;
  margin: 0 0 0 0;
  position: relative;
    top: 10px;
  }
  .Trip > ul >li{
      margin: 20px 5px 0px 5px;
  }
  #tripImg{
    width:100%;
  }
  .Trip>article{
    width: 100%;
  }
  .asideFilter{

  }
  .topImg{
    margin: 0;
  } 
  .ulImages{
    right: 0;
    top: 40px !important;
  }
  .ulImages > li{
    margin: 0 !important;
  float: right !important;
  }

  #timeline{
    width: 100%;
    margin: 0;
    left: 0;
        top: -85px;
  }
  #ulTimeLine{}
  #ulTimeLine >li{
      width: 101px;
  margin: 10px 5px 0 5px;
  font-size: 15px;
  }
  article> h4{

  }
  #sectionComment{
      position: relative;
  bottom: 50px;
  }
  #submitComment{
      right: 168px;
  }
  #comment{
    width:223px;
  }
  .details > img}{
    right: 24px;
  }
  
}