.selected{
	font-size: 28px;
	color:#a2c739;
}
#wrapper{
	margin: 0 auto;
	  width: 90%;
}
form{
	margin: 40px 10% 0 0;
}
li{
	 list-style-type: none;
 	 margin: 20px 0 0 0;
  	 font-family: Arial;
	 font-size: 18px;
}
.nav{
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: relative;
  float: left;
  width: 100%;
}
.nav > li{
  text-align: center;
  width: 19.5%;
  float: right;
}
#homePage{
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center
}
#groupButton{
	  width: 45%;
  margin: 0 auto;
}
.btnChar {
	width: 100px !important;
  color: #ffffff !important;
  background: #3366CC !important;
  margin: 24px 38px 0px 0px !important;
  border-radius: 30px !important;
  float: left;
}
.selectedChar{
	background: #49495A;
	color:#ffffff;
}
.selected{
	font-size:18px;
}
h1{
  font-size: 50px !important;
  color: #337AB7;
  margin: 0 10px 0 20px !important;
  position: relative;
  float: left;
  padding: 0 0 0 0 !important;
}
h1 > a:hover{
	text-decoration: none;
}
#addTripSec{
	direction: rtl;
}
#showTripsSec{
	direction: rtl;
}
.continue{
	  color: #337ab7;
  text-decoration: none;
  position: relative;
  float: right;
  font-size: x-large;
}
.listResultTrip{}
#resultTrip{
	  text-align: -webkit-right;
}
.displayTrip > li{
	  font-size: 16px;
  border: 1px solid #494949;
  color: #494949;
  padding: 10px 10px 10px 0;
  border-radius: 10px;
}
.titelName{
	display: -webkit-box;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
}
#myChoose{
	text-align: -webkit-right;
	 margin: 0 20px 0 0px;
}
h3{
color: #337ab7;
  position: relative;
}