
@font-face {
  font-family: 'Shual-Bold';
  src: url('../fonts/shual-bold.eot');
  src: url('../fonts/shual-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Shual-Bold.otf') format("opentype"), url('../fonts/shual-bold.woff') format('woff'), url('../fonts/shual-bold.ttf') format('truetype'), url('../fonts/shual-bold.svg#Shual-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shual-light';
  src: url('../fonts/Shual-Light-webfont.eot');
  src: url('../fonts/Shual-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Shual-Light.otf') format("opentype"), url('../fonts/Shual-Light-webfont.woff2') format('woff2'), url('../fonts/Shual-Light-webfont.woff') format('woff'), url('../fonts/Shual-Light-webfont.ttf') format('truetype'), url('../fonts/Shual-Light-webfont.svg#shual-light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shual_regular';
  src: url('../fonts/Shual-Regular-webfont.eot');
  src: url('../fonts/Shual-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Shual-Regular.otf') format("opentype"), url('../fonts/Shual-Regular-webfont.woff2') format('woff2'), url('../fonts/Shual-Regular-webfont.woff') format('woff'), url('../fonts/Shual-Regular-webfont.ttf') format('truetype'), url('../fonts/Shual-Regular-webfont.svg#shual_regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

#wrapper{
	margin: 0 auto;
	  width: 90%;
}
form{
	margin: 40px 10% 0 0;
}
form > button{
    background: #38c !important;
  border: none !important;
}
input{
    text-align: -webkit-right !important;
}
label{
  font-size: 20px !important;
}
li{
	 list-style-type: none;
 	 margin: 20px 0 0 0;
  	 font-family: Arial;
	 font-size: 18px;
}


#homePage{
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'shual-light';
}

.selectedChar{
	background: #49495A;
	color:#ffffff;
}
.selectedLi{
	font-size:18px;
  background: #1B936E !important;
  color:#ffffff !important;
}
.selectedLi > a {
  background-color: transparent !important;
  color: #ffffff !important;
}
h1{
   margin: 0 10px 0 20px !important;
  position: relative;
  float: right;
  padding: 0 0 0 0 !important;
}
h1 > a:hover{
	text-decoration: none;
}
.ui-btn-active{
background-color: #1B936E !important;
}
.ui-btn-active:focus{
background-color: #1B936E !important;
}
.ui-btn-active:hover{
background-color: #1B936E !important;
}
#addTripSec{
	direction: rtl;
}
#showTripsSec{
	direction: rtl;
}
.continue{
	  color: #337ab7;
  text-decoration: none;
  position: relative;
  float: right;
  font-size: x-large;
  display: none;
}
.listResultTrip{
  display: block;
}
#resultTrip{
	  text-align: -webkit-right;
}
.displayTrip > li{
	  font-size: 16px;
  border: 1px solid #494949;
  color: #494949;
  padding: 10px 10px 10px 0;
  border-radius: 10px;
}

.addToSchedule{
  background-image: url("images/mySchedule.jpg"); 
  background-size: 30%,30%;
  height: 750px;
  background-repeat: no-repeat;
  padding-left: 5%;
  float: right;
}
.titelName{
	display: -webkit-box;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
}
#myChoose{
	text-align: -webkit-right;
	 margin: 0 20px 0 0px;
}
h3{
color: #337ab7;
  position: relative;
}
fieldset > div{
    float: right !important;
  margin: 0 0 20px 0 !important;
  width: 100% !important;
}
.ui-radio{
  float: right !important;
}

#filter_options{
  background: goldenrod;
  width: 100%;
  height: auto;
  margin: 30px auto;
  transition: all 2s linear;
  display: block;
}

.hidden {
  display: none;
  opacity: 0;
}
#map-canvas {
  width: 500px;
  height: 400px;
  background-color: #CCC;
}
 #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }

/*********home page********/
#logo{
    width: 100%;
  height: 100%;
  position: relative;
  float: right;
}
header{
  background-color: #22AF87 !important;
  border:none !important;
}
header > a {
    float: right;
  position: relative !important;
    border: none !important;
  box-shadow: none !important;
  top: 0 !important;
  background-color: #22AF87 !important;
    margin: 0 10px 0 5px !important;
}
header > a :hover{
  background-color: #1B936E !important;
}
.nav{
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: relative;
  float: right;
  width: 78%;
  background-color: #22AF87 !important;
}
.nav > li{
  text-align: center;
  width: 19.5%;
  float: right;
  color: #ffffff;
}
.nav > li >a {
  color: #ffffff !important;
    margin: 0;
}
.nav > li >a :hover{
    color: #EED53D !important;
    background-color: #1B936E !important;
}
.nav > li :hover{
  background-color: #1B936E !important;
  color: #EED53D !important;
}
.nav > li > a > span{
    max-width: none;
  display: block;
  position: relative;
  margin: 0 auto;
  font-family: 'shual-light';
  font-weight: 400;
}
.nav > li > a > span:hover{
  background-color: #1B936E !important;
  color: #EED53D !important;
}
.nav > li > a > img{
    max-width: none;
  display: block;
  position: relative;
  margin: 0 auto;
}
#homePage {
  background-image: url("images/bg_image.png");
  background-size: 100%,100%;
  background-repeat: no-repeat;
    padding-top: 200px !important;
}
#homePage > #content {
  overflow: hidden !important;
}
#content{
  padding: 25px !important;
}
#groupButton{
  text-align: center;
  width: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2px 5px 35px 5px;
  background-image: url("images/bg_groupButton.png");
  top: 20px;
}

.btnChar {
  color: #ffffff !important;
  background: transparent !important;
  margin: 15px 16px 10px 16px !important;
  height: 48px;
  font-size: 20px;
  border: 1px solid #ffffff;
  font-weight: 100;
  padding: 0px 10px 0px 9px;
}
#groupButton > h2{
  color: #ffffff;
  direction: rtl;
  text-align: right;
  margin: 0px 0 0 0;
  position: relative;
  padding: 20px 40px 0 0;
}
/*******trip page********/
.Trip{
  direction: rtl;
}
.Trip > h2{
    width: 50%;
  float: right;
}
.Trip >ul{

}
.Trip > ul >li{
  float: right;
  border: 1px solid grey;
  margin: 22px 10px 11px 10px;
  padding: 3px 5px 3px 5px;
}
.Trip >article{
    float: right;
  width: 48%;
  /* display: -webkit-inline-box; */
  position: relative;
  /*height: 200px;*/
    margin: 0px 0 10px 0;

}
.topImg{
    float: left;
  position: relative;
    margin: 5px 5px 0px 5px;
}
.countLike{
    float: left;
  position: relative;
    margin: 7px 10px 0px 5px;
}
#favorite{
  float: left;
  position: relative;
}
#updateSchedule{
  float: left;
  position: relative;
}
#removeFromSchedule{
  float: left;
  position: relative; 
}
#tripImg{
  width: 40%;
  float: right;
  height: 250px;
  position: relative;
  /* left: 50%; */
  margin: 10px 0px 0px 15px;
  /*background-image: url("http://res.cloudinary.com/dxgyixsmg/image/upload/v1432156445/qvxrjquqlrgrsjxxj5qe.jpg");*/
  background-size: 100%;
  background-repeat: no-repeat;
}
/*#tripImg > img{
  position: relative;
  width: 100%;
}*/
#submitComment{
  float:right;
}
.Trip > label{
float: right;
  width: 100%;
  margin: 10px 0 7px 0;
  padding: 0px 0 0px 0;
}
#comment{
    float: right;
  position: relative;
  margin: 5px 0 0 0;
}
.sitesUl{
    float: right;
  padding: 0 0 0 0;
}
.sitesUl>li{
    margin: 0 0px 0 6px !important;
}
.Trip>h3{
  float: right;
  font-size: 20px;
}
.Trip>article{
  font-size: 12px;
    float: right;
  direction: rtl;
  padding: 5px 16px 6px 5px;
  line-height: 25px;
}
.topImgStar{
  float: left;
}
.topImgSchedule{
  float: left;
}
#RemoveFavPopup{
  float:right;
}
#addToFavPopup{
  float: right;
}
#friendsemail{
  height: 20px;
}

#mobile-indicator {
    display: none;
}
#nav-panel{
  display: none;
}

#menubtn{
  display: none;
}
#buttonRadius{
  display: none;
}
@media(max-width: 500px){
  #buttonRadius{
    display: block;
  } 
  #selectArea{
    display: none;
  }
  #filter{
    display: none;
  }
}
/*@media (max-width: 767) {
    
#mobile-indicator {
        display: block;
}

.nav{
  display: none;
}

#menubtn{
  display: inline;
}

  .nav{
    display: none;
  }

  #menubtn{
    display: block;
  }

  #nav-panel{
    display: block;
  }

  .ui-btn-icon-notext:after, .ui-btn-icon-left:after, .ui-btn-icon-right:after{
}
}*/


#timeline{
  width: 800px;
  height: 190px;
  overflow: hidden;
  margin: 107px auto;
  position: relative;
  background: url('images/dot.gif') top 170px left 45px repeat-x;
  top: 67px;
}
#ulTimeLine{
  height: 114px;
  position: relative;
  /* top: 50px; */
  padding: 0 0 0 0;
  margin: 10px 0 0 0;
}
#ulTimeLine>li{
list-style: none;
  float: left;
  /*width: 106px;*/
  /* height: 50px; */
  font-size: 24px;
  text-align: center;
  margin: 10px 12px 0 15px;
  background: url('images/biggerdot.png') center bottom no-repeat;
  position: relative;
  /* bottom: 20px*/
 top: 67px;
}
#ulTimeLine>li>span{
    font-size:20px;
    position: relative;
    
}
#ulTimeLine>li>img{
  display: block;
  text-align: center;
  position: relative;
  margin: 0 auto;
}
#scheduleTimeLline{
  width: 83%;
  height: 190px;
  overflow: hidden;
  margin: 107px auto;
  position: relative;
  background: url('images/dot.gif') top 170px left 45px repeat-x;
  top: 67px;
}
#ulTimeLineSchedule{
  height: 114px;
  position: relative;
  /* top: 50px; */
  padding: 0 0 0 0;
  margin: 10px 0 0 0;
}
#ulTimeLineSchedule>li{
list-style: none;
  float: left;
  /*width: 106px;*/
  /* height: 50px; */
  font-size: 24px;
  text-align: center;
  margin: 10px 12px 0 15px;
  background: url('images/biggerdot.png') center bottom no-repeat;
  position: relative;
  /* bottom: 20px*/
 top: 67px;
}
#ulTimeLineSchedule>li>span{
    font-size:20px;
    position: relative;
    
}
#ulTimeLineSchedule>li>img{
  display: block;
  text-align: center;
  position: relative;
  margin: 0 auto;
}