<!doctype html>
<html lsng="en">
<head>
	<meta charse="UTF-8">
	<title>Tripper</title>
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body >
	<div class="container">
	<h1>Tripper</h1>
	
	
	</div>
	<script type="text/javascript" src="bootsrtap/dist/js/bootstrap.js"></script>
	<script src="jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="../functionTrip.js"></script>
</body>
</html>
