<header data-role="header" data-position="fixed" data-tap-toggle="false">  
	<a href="#home"><img id="logo" src="images/logo.png"></a>
	<a href="#nav-panel" id="menubtn" data-role="button" data-icon="grid"></a>   

	<ul class="nav nav-pills">
<!-- 				<div data-role="panel" data-position="right" data-display="overlay" data-swipe-close="true" data-theme="b" id="nav-panel" class="ui-responsive-panel">	 -->			
		<li id="home" class="ui-btn-active"><a href="#homePage"><img src="images/search.png"><span>חיפוש טיול</span></a></li>
		<li id="showTrips"><a href="#accountPage"><img src="images/account.png"><span>החשבון שלי</span></a></li>
		<li id="moveToFavorite"><a href="#viewFavorite"><img src="images/favorites.png"><span>המועדפים שלי</span></a></li>
		<li id="mySchedule"><a href="#myPageSchedule"><img src="images/my_track.png"><span>המסלול שלי</span></a></li>
		<li id="addTrip" ><a href="#addTripPage"><img src="images/add.png"><span>הוספת טיול</span></a></li>
	</ul>
		<!-- </div> -->
</header>