<!doctype html>
<html lsng="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tripper</title>
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
	
	<link rel="stylesheet" href="jquerymobile.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="bootsrtap/dist/js/bootstrap.js"></script>

	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	
	<!--  google login  -->
	<script src="https://apis.google.com/js/client:platform.js" async defer></script>
	<!-- ens google login -->

	<script type="text/javascript" src="../functionTrip.js"></script>

</head>
<body >

	<div data-role="page" id="homePage" >
		<header data-role="header" data-position="fixed" data-tap-toggle="false">     
			<h1><a href="#">Tripper</a></h1>
			<ul class="nav nav-pills" onhashchanged="blabla()">
				<li id="home"><a href="#homePage">חיפוש טיול</a></li>
				<li id="showTrips"><a href="#accountPage">החשבון שלי</a></li>
				<li id="moveToFavorite"><a href="#viewFavorite">המועדפים שלי</a></li>
				<li id="mySchedule"><a href="#myPageSchedule">המסלול שלי</a></li>
				<li id="addTrip"><a href="#addTripPage">הוספת טיול</a></li>
			</ul>
		</header>
		<div data-role="content" class="ui-content" id="content">
			<!-- application data will goes here -->
			<div id="groupButton">
				
				<% for (var j =0; j<character.length; j++) {%>

				<button class="btnChar"><%=character[j].charachter %></button>

				<% } %>
				<a class='continue' href='index.ejs#resultTripPqge'> המשך </a>
			</div>	
		</div>


		<section>
			<span id="signinButton"> <span
				class="g-signin"
				data-callback="signinCallback"
				data-clientid="573156814655-734l8cl9gau167f6p4h59d9m00f48roc.apps.googleusercontent.com"
				data-cookiepolicy="single_host_origin"
				data-scope="profile"> </span> </span>
				<!-- 								data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email"> </span> </span> -->

			</section>
			<li id="signOut" role="presentation">
				<a role="menuitem" tabindex="-1" href="#">Sign out</a>
			</li>
		</div>




		<div data-role="page" id="resultTripPqge" >
			<header data-role="header" data-position="fixed" data-tap-toggle="false">     
				<h1><a href="#">Tripper</a></h1>
				<ul class="nav nav-pills">
					<li id="home"><a href="#homePage">חיפוש טיול</a></li>
					<li id="showTrips"><a href="#accountPage">החשבון שלי</a></li>
					<li id="moveToFavorite"><a href="#viewFavorite">המועדפים שלי</a></li>
					<li id="mySchedule"><a href="#myPageSchedule">המסלול שלי</a></li>
					<li id="addTrip"><a href="#addTripPage">הוספת טיול</a></li>
				</ul>
			</header>
			<input type="button" id="filter" value="filter">
			<div id="filteroptions" class="hidden">
				<label for="slider-1">בחר תקציב:</label>
				<input type="range" name="slider-1" id="slider-1" value="60" min="0" max="100" />	
				<div data-role="fieldcontain">
    				<fieldset data-role="controlgroup" data-type="horizontal">
	   				<legend>עם מי הולכים לטייל?</legend>
	  				<input type="checkbox" name="trip_with_animals" id="trip_with_animals" class="custom" />
	   				<label for="trip_with_animals">בע"ח</label>
	   				<input type="checkbox" name="trip_with_road" id="trip_with_road" class="custom" />
	   				<label for="trip_with_road">מסלול סלול לאנשים עם מוגבליות או עגלות לתינוקות</label>
	   				<input type="checkbox" name="trip_for_children" id="trip_for_children" class="custom" />
	   				<label for="trip_for_children">מותאם לילדים</label>
   					</fieldset>
				</div>
				<div data-role="fieldcontain">
    				<fieldset data-role="controlgroup" data-type="horizontal">
	   				<legend>סוג טיול</legend>
	  				<input type="checkbox" name="trip_with_watter" id="trip_with_watter" class="custom" />
	   				<label for="trip_with_watter">טיול עם מקורות מים</label>
	   				<input type="checkbox" name="trip_for_night" id="trip_for_night" class="custom" />
	   				<label for="trip_for_night">טיול עם לילה</label>
	   				<input type="checkbox" name="trip_for_day" id="trip_for_day" class="custom" />
	   				<label for="trip_for_day">טיול יומי</label>
	   				<input type="checkbox" name="trip_with_bicycle" id="trip_with_bicycle" class="custom" />
	   				<label for="trip_with_bicycle">טיול עם אופניים</label>
	   				<input type="checkbox" name="trip_with_jeep" id="trip_with_jeep" class="custom" />
	   				<label for="trip_with_jeep">טיול ג'יפים</label>
   					</fieldset>
				</div>
				<div data-role="fieldcontain">
    				<fieldset data-role="controlgroup" data-type="horizontal">
	   				<legend>בחר רמת קושי</legend>
	  				<input type="checkbox" name="light_trip" id="light_trip" class="custom" />
	   				<label for="light_trip">קל</label>
	   				<input type="checkbox" name="medium_trip" id="medium_trip" class="custom" />
	   				<label for="medium_trip">בינוני</label>
	   				<input type="checkbox" name="hard_trip" id="hard_trip" class="custom" />
	   				<label for="hard_trip">קשה</label>
   					</fieldset>
				</div>
			</div>
				<div data-role="content" class="ui-content" id="content">
					<select id="selectArea" onchange="changedArea()">
						<option value=""></option>
						<option value="tel-aviv">איזור מרכז וגוש דן</option>
						<option value="south">איזור דרום</option>
						<option value="north">איזור צפון</option>
					</select>
					<section id="resultTrip">
						<ul class="displayTrip">
						</ul>

					</section>
				</div>
			</div>


		<div data-role="page" id="theTrip" >
			<header data-role="header" data-position="fixed" data-tap-toggle="false">     
				<h1><a href="#">Tripper</a></h1>
				<ul class="nav nav-pills">
					<li id="home"><a href="#homePage">חיפוש טיול</a></li>
					<li id="showTrips"><a href="#accountPage">החשבון שלי</a></li>
					<li id="moveToFavorite"><a href="#viewFavorite">המועדפים שלי</a></li>
					<li id="mySchedule"><a href="#myPageSchedule">המסלול שלי</a></li>
					<li id="addTrip"><a href="#addTripPage">הוספת טיול</a></li>
				</ul>
			</header>
			<div data-role="content" class="ui-content" id="content">
				<section class="Trip">
				</section>
			</div>
		</div>


		<div data-role="page" id="viewFavorite" >
			<header data-role="header" data-position="fixed" data-tap-toggle="false">     
				<h1><a href="#">Tripper</a></h1>
				<ul class="nav nav-pills">
					<li id="home"><a href="#homePage">חיפוש טיול</a></li>
					<li id="showTrips"><a href="#accountPage">החשבון שלי</a></li>
					<li id="moveToFavorite"><a href="#viewFavorite">המועדפים שלי</a></li>
					<li id="mySchedule"><a href="#myPageSchedule">המסלול שלי</a></li>
					<li id="addTrip"><a href="#addTripPage">הוספת טיול</a></li>
				</ul>
			</header>
			<div data-role="content" class="ui-content" id="content">
				<section id="resultTrip">
					<ul class="displayTrip">
					</ul>

				</section>
			</div>
		</div>


		<div data-role="page" id="addTripPage" >
			<header data-role="header" data-position="fixed" data-tap-toggle="false">     
				<h1><a href="#">Tripper</a></h1>
				<ul class="nav nav-pills">
					<li id="home"><a href="#homePage">חיפוש טיול</a></li>
					<li id="showTrips"><a href="#accountPage">החשבון שלי</a></li>
					<li id="moveToFavorite"><a href="#viewFavorite">המועדפים שלי</a></li>
					<li id="mySchedule"><a href="#myPageSchedule">המסלול שלי</a></li>
					<li id="addTrip"><a href="#addTripPage">הוספת טיול</a></li>
				</ul>
			</header>

			<section id="addTripSec">
				<form action="/add" method="post" onsubmit="return validateMyForm(this);">
					<label>שם או אזור הטיול <br>
						<input type="text" name="nameTrip">
					</label><br>
					<label>תאור הטיול<br>
						<textarea type="text" name="des"></textarea>
					</label><br>

					<div data-role="fieldcontain">
						<fieldset data-role="controlgroup" data-type="horizontal" data-role="fieldcontain">
							<legend>אזור הטיול:</legend>
							<input type="radio" name="area" id="radio-choice-1" value="tel-aviv" checked="checked" />
							<label for="radio-choice-1">אזור המרכז</label>

							<input type="radio" name="area" id="radio-choice-2" value="south"  />
							<label for="radio-choice-2">אזור הדרום</label>

							<input type="radio" name="area" id="radio-choice-3" value="north"  />
							<label for="radio-choice-3">אזור הצפון</label>

						</fieldset>
					</div>	

					<label>מיקום הטיול: <br>
						<input type="text" name="locationTrip">
					</label><br>
					<label>תכונות הטיול: <br>
						<input type="text" name="char1">
						<input type="text" name="char2">
					</label>

					<label for="ingredients"> <span class="testRight" id="ingredientsT">אתרי תיירות</span>
						<span class="formField">
							<div class="ingredients_wrap">

								<div style="text-align: center;margin: auto;position: relative;align-content: center;">
									<input type="text" name="ingredients[]" placeholder="אתר" class="firstIngredient ingredients_i" id="firstIngredient">
									<input type="text" name="amount[]" placeholder="מיקום" class="firstAmount amounts_i" id="firstAmount">
								</div>
							</div> 
						</span> 
					</label>
					<br>
					<!--<input name="image_file" id="imageInput" type="file" />
					<img src="images/ajax-loader.gif" id="loading-img" style="display:none;" alt="Please Wait"/>
					<div id="output"></div>-->

					<!--	<input type='file' id="imgInp" />
   					<img id="blah" src="#" alt="your image" />-->

   					<input type="file" accept="image/*"  onchange="showMyImage(this)" />
					 <br/>
					<img id="thumbnil" style="width:20%; margin-top:10px;"  src="" alt="image"/>

					<button type="submit" data-theme="b" name="submit" value="submit-value" class="ui-btn-hidden" aria-disabled="false">שלח טיול</button>
					<input type="hidden" name="commodities" id="commodities" value=""/>
				</form>
			</section>
		</div>

		<div data-role="page" id="accountPage" >
			<header data-role="header" data-position="fixed" data-tap-toggle="false">     
				<h1><a href="#">Tripper</a></h1>
				<ul class="nav nav-pills">
					<li id="home"><a href="#homePage">חיפוש טיול</a></li>
					<li id="showTrips"><a href="#accountPage">החשבון שלי</a></li>
					<li id="moveToFavorite"><a href="#viewFavorite">המועדפים שלי</a></li>
					<li id="mySchedule"><a href="#myPageSchedule">המסלול שלי</a></li>
					<li id="addTrip"><a href="#addTripPage">הוספת טיול</a></li>
				</ul>
			</header>
			<div data-role="content" class="ui-content" id="content">
				<section id="resultTrip">
					<ul class="displayTrip">
					</ul>
				</section>
			</div>
		</div>

		<div data-role="page" id="myPageSchedule" >
			<header data-role="header" data-position="fixed" data-tap-toggle="false">     
				<h1><a href="#">Tripper</a></h1>
				<ul class="nav nav-pills">
					<li id="home"><a href="#homePage">חיפוש טיול</a></li>
					<li id="showTrips"><a href="#accountPage">החשבון שלי</a></li>
					<li id="moveToFavorite"><a href="#viewFavorite">המועדפים שלי</a></li>
					<li id="mySchedule"><a href="#myPageSchedule">המסלול שלי</a></li>
					<li id="addTrip"><a href="#addTripPage">הוספת טיול</a></li>
				</ul>
			</header>
			<div data-role="content" class="ui-content" id="content">
				<section class="Trip">
					</section>
			</div>
		</div>

	</body>
</html>