<!doctype html>
<html lsng="en">
<head>
	<meta charse="UTF-8">
	<title>Tripper</title>
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body >
	<div class="container">
			<h1>Tripper</h1>
			<ul class="nav nav-pills">
				<li id="home"><a href="#">חיפוש טיול</a></li>
				<li id="showTrips"><a href="#">החשבון שלי</a></li>
				<li ><a href="#">המועדפים שלי</a></li>
				<li><a href="#">המסלול שלי</a></li>
				<li id="addTrip"><a href="#">הוספת טיול</a></li>
			</ul>
		<section id="homeSec">
			<div id="groupButton">
				
				<% for (var j =0; j<character.length; j++) {%>
				<button class="btn"><%=character[j] %></button>
				<% } %>
			</div>	
		</section>	
		
		<section id="showTripsSec">
			<ul id="displayTrip">
				<% for (var i =0; i<trips.length; i++) {%>
				<li> <%= "שם הטיול: "+trips[i].name + " תיאור-הטיול:  " + trips[i].description %></li>
				<% } %>
			</ul>
		</section>
		<section id="addTripSec">
			<form action="/add" method="post">
				<label>שם או אזור הטיול 
					<br>
				<input type="text" name="newTrip">
				</label>
				<br>
				<label>תאור הטיול
				<br>
				<textarea type="text" name="des"></textarea>
				</label>
				<br>
				<input type="submit">
			</form>
		</section>
	</div>
	<script src="jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="bootsrtap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="../functionTrip.js"></script>
</body>
</html>